<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Clown Schule" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Clown Schule">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="<%= yield :desc %>"/>
    <meta name="author" content="Sandra Cardamone">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
    <link rel="canonical" href="<%= yield :cano %>"/>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <%= stylesheet_link_tag :application, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="wrapper">
    <%=render "shared/header" %>
    <div class="content">
      <%= yield %>
    </div>
    <%=render "shared/footer" %>
  </div>
  </body>
</html>
