<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Clown Schule" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="author" content="Sandra Cardamone">
    <meta name="distribution" content="global"/>
    <meta name="content-language" content="de">
    <meta name="page-topic" content="Clownschule Confetti">
    <meta name="page-type" content="Beschreibung">
    <meta name=“site_name“ content="clownschule-confetti.de"/>
    <meta name="robots" content="index,follow"/>
    <meta name="referrer" content="origin">

    <meta name="description" content="<%= yield :description %>"/>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
    <link rel="canonical" href="<%= yield :cano %>"/>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <%= favicon_link_tag image_path('favicon.svg') %>
    <%= stylesheet_link_tag :application, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="wrapper">
    <%=render "shared/header" %>
    <div class="content">
      <%= yield %>
    </div>
    <%=render "shared/footer" %>
  </body>
</html>
